  // variables
  @import "variables.scss";


  /* menu navegacion */
    .navegacion__ul{
      list-style:none;
      display:flex;
      flex-direction:row;
      justify-content: space-around;  
      text-align: center;  
  }
  

  
  .navegacion__ul, li a {
    color: $colorterciario-textos;
    padding: 10px 20px;
    text-decoration: none;
    list-style: none;
    font-size: large;
  }
  
  .navegacion__ul li a:hover {
    color: $colorprimario-textos; 
  }
  
