// variables//
$colorprimario-textos: gold;
$colorsecundario-textos: rgba(238, 204, 13, 0.897);
$colorterciario-textos: white;
$colorprimario-bordes: gold;
$colorprimario-fondo: rgba(207, 203, 203, 0.205);

$titulos:(
    titulo6: cyan,
    titulo7: white,
)
